<nav class="navbar m-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item"> </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons is-centered">
        <button
          id="lightmode-toggle-btn"
          class="button is-rounded is-responsive"
        ></button>
      </div>
    </div>
  </div>
</nav>
