<nav class="navbar m-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item"> </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons is-centered">
        <button
          id="lightmode-toggle-btn"
          class="button is-rounded is-responsive"
        ></button>

        <button class="button is-responsive">
          <span>connect a wallet</span>
          <span class="icon">
            <svg role="presentation" focusable="false" aria-labelledby="title">
              <title>connect a wallet</title>
              <use
                href="/assets/images/font-awesome-sprite-solid.svg#arrow-right"
              />
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</nav>
