<nav class="level is-mobile m-6 p-6" role="navigation">
  <div class="level-left">
    <div class="level-item">
      <a id="logo"> </a>
    </div>
  </div>

  <div class="level-right">
    <div class="level-item">
      <button id="lightmode-toggle-btn" class="button is-rounded"></button>
    </div>
  </div>
</nav>
