<footer class="footer p-6">
  <a href="/">
    <img src="../../assets/images/logo_white.png" alt="" />
    <img src="../../assets/images/logo_text.png" alt="Ardana" />
  </a>

  <div class="mt-6 is-pulled-right">
    <div class="columns">
      <div class="column">
        <img src="../../assets/images/twitter.png" />
      </div>
      <div class="column">
        <img src="../../assets/images/discord.png" />
      </div>
      <div class="column">
        <img src="../../assets/images/telegram.png" />
      </div>
      <div class="column">
        <img src="../../assets/images/medium.png" />
      </div>
      <div class="column">
        <img src="../../assets/images/reddit.png" />
      </div>
      <div class="column">
        <img src="../../assets/images/linkedin.png" />
      </div>
    </div>
  </div>
</footer>
