<meta charset="utf-8" />
<meta http-equiv="X-XSS-Protection" content="1;mode=block" />
<meta http-equiv="X-Content-Type-Options" content="nosniff" />
<meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
<meta http-equiv="Referrer-Policy" content="strict-origin-when-cross-origin" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#235DF4" />
<meta name="description" content="" />

<title>DanaSwap App</title>

<link rel="icon" href="./assets/images/favicon.ico" />

<link rel="stylesheet" href="./assets/styles/main.css" />

<script
  defer
  src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
></script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll(".navbar-burger"),
      0
    );

    // Add a click event on each of them
    $navbarBurgers.forEach((el) => {
      el.addEventListener("click", () => {
        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle("is-active");
        $target.classList.toggle("is-active");
      });
    });
  });
</script>
