<footer class="footer p-6">
  <div class="columns is-vcentered is-mobile">
    <div class="column">
      <a href="/">
        <img
          src="../../assets/images/logo_footer.png"
          alt="Ardana"
          title="Ardana"
        />
      </a>
    </div>

    <div class="column is-narrow">
      <div class="columns is-mobile">
        <div class="column">
          <img
            src="../../assets/images/twitter.png"
            alt="Twitter"
            title="Twitter"
          />
        </div>
        <div class="column">
          <img
            src="../../assets/images/discord.png"
            alt="Discord"
            title="Discord"
          />
        </div>
        <div class="column">
          <img
            src="../../assets/images/telegram.png"
            alt="Telegram"
            title="Telegram"
          />
        </div>
        <div class="column">
          <img
            src="../../assets/images/medium.png"
            alt="Medium"
            title="Medium"
          />
        </div>
        <div class="column">
          <img
            src="../../assets/images/reddit.png"
            alt="Reddit"
            title="Reddit"
          />
        </div>
        <div class="column">
          <img
            src="../../assets/images/linkedin.png"
            alt="LinkedIn"
            title="LinkedIn"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
