<footer class="footer p-6">
  <div class="columns is-vcentered is-mobile">
    <div class="column">
      <a href="/">
        <img
          src="../../assets/images/logo_footer.png"
          alt="Ardana"
          title="Ardana"
        />
      </a>
    </div>

    <div class="column is-narrow">
      <div class="columns is-vcentered is-mobile">
        <div class="column">
          <span class="icon">
            <svg role="none" width="2rem" height="2rem">
              <use
                href="/assets/images/font-awesome-sprite-brands.svg#twitter"
                fill="currentColor"
              />
            </svg>
          </span>
        </div>
        <div class="column">
          <span class="icon">
            <svg role="none" width="2rem" height="2rem">
              <use
                href="/assets/images/font-awesome-sprite-brands.svg#discord"
                fill="currentColor"
              />
            </svg>
          </span>
        </div>
        <div class="column">
          <span class="icon">
            <svg role="none" width="2rem" height="2rem">
              <use
                href="/assets/images/font-awesome-sprite-brands.svg#telegram"
                fill="currentColor"
              />
            </svg>
          </span>
        </div>
        <div class="column">
          <span class="icon">
            <svg role="none" width="2rem" height="2rem">
              <use
                href="/assets/images/font-awesome-sprite-brands.svg#medium"
                fill="currentColor"
              />
            </svg>
          </span>
        </div>
        <div class="column">
          <span class="icon">
            <svg role="none" width="2rem" height="2rem">
              <use
                href="/assets/images/font-awesome-sprite-brands.svg#reddit"
                fill="currentColor"
              />
            </svg>
          </span>
        </div>
        <div class="column">
          <span class="icon">
            <svg role="none" width="2rem" height="2rem">
              <use
                href="/assets/images/font-awesome-sprite-brands.svg#linkedin"
                fill="currentColor"
              />
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
