<meta charset="utf-8" />
<meta http-equiv="X-XSS-Protection" content="1;mode=block" />
<meta http-equiv="X-Content-Type-Options" content="nosniff" />
<meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
<meta http-equiv="Referrer-Policy" content="strict-origin-when-cross-origin" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#235DF4" />
<meta name="keywords" content="DanaSwap" />
<meta name="description" content="" />

<title>DanaSwap App</title>

<link rel="icon" href="./assets/images/favicon.ico" />

<link
  rel="preload"
  href="./assets/images/font-awesome-sprite-brands.svg"
  as="image"
  type="image/svg+xml"
/>

<link
  rel="preload"
  href="./assets/images/font-awesome-sprite-solid.svg"
  as="image"
  type="image/svg+xml"
/>

<link rel="stylesheet" id="theme-css" href="./assets/styles/night.css" />

<script src="./assets/scripts/main.js" defer></script>
