<nav class="navbar m-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item"> </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons is-centered">
        <button
          id="theme-toggle-btn"
          class="button is-rounded is-responsive danaswap-btn-has-background"
        >
          <span>light mode</span>
          <span class="icon">
            <svg role="none">
              <use href="/assets/images/font-awesome-sprite-solid.svg#sun" />
            </svg>
          </span>
        </button>

        <button class="button is-rounded is-responsive danaswap-btn-has-border">
          connect wallet
        </button>
      </div>
    </div>
  </div>
</nav>
