<noscript>
  <section class="NoScript">
    <p lang="en">
      The DanaSwap website requires JavaScript. Here are the
      <a href="https://www.enable-javascript.com/en/">instructions how to enable JavaScript in your web browser</a>.
      Or perhaps you need to make an exception in your script blocker.
    </p>
  </section>
</noscript>
