<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include('../../components/head.ejs'); %>
    <script type="module" src="./assets/scripts/home/bundle.js" defer></script>
  </head>
  <body>
    <%- include('../../components/nav.ejs', {currentUrl: '/' }); %>

    <main id="home"><%- include('../../components/noscript.ejs'); %></main>

    <%- include('../../components/footer.ejs'); %>
  </body>
</html>
