html {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
}

main {
  flex: 1 1 auto;
}

.footer {
  background: #1f297b;
}

.button {
  text-transform: uppercase;
}

.icon svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
}

.footer .icon svg {
  fill: currentColor;
  width: 2em;
  height: 2em;
}
