@charset "utf-8";

@import "../../node_modules/bulma/sass/utilities/initial-variables";

@font-face {
  font-family: "Museo Sans";
  src: local("Museo Sans 300"), local("Museo-Sans-300"),
    url(../fonts/Museo-Sans/MuseoSans_300.woff2) format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Museo Sans";
  src: local("Museo Sans 500"), local("Museo-Sans-500"),
    url(../fonts/Museo-Sans/MuseoSans_500.woff2) format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Museo Sans";
  src: local("Museo Sans 700"), local("Museo-Sans-700"),
    url(../fonts/Museo-Sans/MuseoSans_700.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Museo Sans";
  src: local("Museo Sans 900"), local("Museo-Sans-900"),
    url(../fonts/Museo-Sans/MuseoSans_900.woff2) format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: local("Brandon Grotesque Light"), local("Brandon-Grotesque-Light"),
    url(../fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-light.woff2)
      format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: local("Brandon Grotesque Bold"), local("Brandon-Grotesque-Bold"),
    url(../fonts/brandon-Grotesque-Font-Family/brandon-grotesque-bold-regular.woff2)
      format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: local("Brandon Grotesque Black"), local("Brandon-Grotesque-Black"),
    url(../fonts/brandon-Grotesque-Font-Family/brandon-grotesque-black.woff2)
      format("woff2");
  font-weight: 900;
}

$scheme-main: #080e42;

$family-primary: "Museo Sans", serif;

$button-border-width: 0;

$table-cell-padding: 1.5em;

$link: #f5fcfe;
$text: #f5fcfe;
$link-focus: #f5fcfe;
$link-hover: #f5fcfe;
$text-strong: #f5fcfe;
$input-color: #f5fcfe;
$title-color: #f5fcfe;
$subtitle-color: #f5fcfe;
$input-placeholder-color: #f5fcfe;
$navbar-item-hover-background-color: #080e42;
$navbar-item-active-color: #73d6f1;
$navbar-item-hover-color: #f5fcfe;
$navbar-item-color: #f5fcfe;
$subtitle-color: grey;

@import "../../node_modules/bulma/bulma";

.navbar-item.is-active {
  border-bottom: 3px solid #73d6f1;
}

.danaswap-btn-has-background {
  background: linear-gradient(89.62deg, #72d2f2 0.3%, #6077ff 99.64%);
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  text-align: center;
  color: #f5fcfe;
}

.danaswap-btn-has-border {
  border: 3px solid rgba(45, 59, 160, 1);
  box-shadow: 0px 0px 20px 5px rgba(45, 59, 160, 1);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  color: #f5fcfe;
}

.navbar-brand a.navbar-item {
  background-image: url(../images/logo_header_night.png);
  background-size: cover;
  width: 65.92px;
  height: 60px;
}

#lightmode-toggle-btn {
  background-image: url(../images/lightmode_toggle_btn_night.png);
  background-size: cover;
  width: 96px;
  height: 50px;
}

#home-static {
  background-image: url(../images/home_static_night.png);
  background-size: cover;
}

.pools-table-header {
  font-family: "Brandon Grotesque", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;

  color: #72d2f3;
}

.pools-table-row {
  box-sizing: border-box;
  border: 1px solid #0a5884;
  border-radius: 38px;
}

.pools-table-row-dropdown {
  background: #0b0e2b;
  border-radius: 5px;
}

@import "./common";
