<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include('../../components/head.ejs'); %>
  </head>
  <body>
    <%- include('../../components/noscript.ejs'); %>
    <%- include('../../components/nav.ejs', {currentUrl: '/' }); %>

    <div id="home"></div>

    <%- include('../../components/footer.ejs'); %>

    <script type="module" src="./assets/scripts/home/bundle.js" defer></script>
  </body>
</html>
