<!DOCTYPE html>
<html>
  <head>
    <%- include('../../components/head'); %>
    <script
      type="module"
      src="../assets/scripts/pools/bundle.js"
      defer
    ></script>
  </head>
  <body>
    <%- include('../../components/noscript'); %>

    <main class="px-6">
      <%- include('../../components/nav.ejs', {currentUrl: '/' }); %>
      <div id="pools"></div>
    </main>
  </body>
</html>
